/* body{text-align: center; */

/* } */
img {
  display: block;
  margin: 0;
  width: 50%;
  object-fit: contain;
}
.decorCat {
  display: flex;
  gap: 15px;
  max-width: 50%;
  /* flex-basis: 50%; */
  border: 1px solid rgb(28, 95, 81);
  border-radius: 5px;
}
.breed-select {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
}
/* .cat-info{
    position: relative;
} */

.loader {
    position: relative;
    top:50%;
    left: 50%;
    width: 85px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#4f0e99 50px, transparent 0),
                      linear-gradient(#4f0e99 50px, transparent 0),
                      linear-gradient(#4f0e99 50px, transparent 0),
                      linear-gradient(#4f0e99 50px, transparent 0),
                      linear-gradient(#4f0e99 50px, transparent 0),
                      linear-gradient(#4f0e99 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
  }
@keyframes rikSpikeRoll {
  0% { background-size: 10px 3px;}
  16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
  66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
  83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
  100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}
    